<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>倒计时demo</title>
    <link rel="stylesheet" type="text/css" href="less/all.css">
    <link rel="stylesheet" type="text/css" href="js/lib/timer/css/timer-min.css">
</head>
<body id="J_Timer">
<input type="hidden" id="dispatcher" value="home">
<section class="container">
    <div class="timer-container">
        <div class="tip">倒计时demo</div>
        <div>
            <input type="text" id="J_CodeNumber" class="code-number" placeholder="输入短信验证码">
            <input type="submit" id="J_GetCode" class="get-code" value="短信获取" data-url="../mockup/json/validateCode.json">
        </div>
    </div>
    <div id="J_ErrorTip" class="error-tip"></div>
</section>
<script src="js/lib/zepto/zepto.min.js" type="text/javascript"></script>
<script src="js/seajs/sea.js?v=1.0.0" data-config="config.js?v=1.0.0" data-main="main.js?v=1.0.0" id="seajsFile"></script>
</body>
</html>